@import 'index.scss';

.footer-container-default {
  padding: 1vw 2.5vw;
  color: white;
  font-size: 1.2vw;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  background: $dooglysColor;

  &-label {
    display: flex;
    align-items: center;

    flex: 1;
    margin-left: 1vw;
  }

  &-img {
    display: flex;
    align-items: center;

    flex-shrink: 0;

    svg {
      font-size: 2.7vw;
    }
  }

  transition: 1.0s ease-out;
  cursor: pointer;

  &:hover {
    background: darken($dooglysColor, 5%);
    cursor: pointer;
  }
}
