@import "index.scss";

.add-device-menu.-show {
  width: 80%;
}

.add-container {
  $horPadding: 3vw;
  $lineHeight: 1.3vw;

  display: flex;
  flex-flow: column nowrap;

  &-table {
    background: white;

    line-height: $lineHeight;
    padding: 2vw $horPadding;
    font-size: 1vw;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  .order-props-item {
    border-bottom: solid 1px silver;
    display: flex;
    flex-flow: row nowrap;
    padding: 1vw 0;

    &-label {
      font-weight: 600;
      font-size: 1.3vw;
      color: rgb(153, 153, 153);
      margin-right: 2vw;
    }

    &-value {
      font-size: 1.4vw;
    }
  }

  &-btns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    &-item {
      margin-top: 2vw;
      margin-right: 2vw;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
